<div class="container-fluid">
 <div class="row justify-content-center" style="margin-top: 40px;">
  <div class="col-8">
    <div class="jumbotron">
      <h3>Reactive Form Custom Validation</h3>

      <div>
        <form [formGroup]="form">
        <div class="form-group">
          <label for="usernameinput">User Name</label>
          <input type="text" formControlName="username" id="usernameinput" class="form-control" placeholder="Enter Username">
        </div>

        <div class="form-group">
          <label for="passwordinput">Password</label>
          <input type="password" formControlName="password" id="passwordinput" class="form-control" placeholder="Enter Password">
        </div>

        <div class="form-group">
          <label for="cfpasswordinput">Confirm Password</label>
          <input type="password" formControlName="cnfpass" id="cfpasswordinput" class="form-control" placeholder="Enter Confirm Password">
        </div>

        <div class="form-group">
          <label for="zipinput">Zip</label>
          <input type="text" formControlName="zip" id="zipinput" class="form-control" placeholder="Enter 6 digit code">
        </div>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
        <br><br>
        <hr>

        <div class="validations" *ngIf="form.touched">

            <span>
              <i class="fa fa-check-circle" style="color: green;" *ngIf="form.controls.username.valid"></i>
              <i class="fa fa-times-circle" style="color: red;" *ngIf="form.controls.username.invalid"></i>
              Username should be minimum 4 characters long.
            </span>
            <br>
            <span>
              <i class="fa fa-check-circle" style="color: green;" *ngIf="form.controls.zip.valid"></i>
              <i class="fa fa-times-circle" style="color: red;" *ngIf="form.controls.zip.invalid" ></i>
              Zip Code should be 6 digit number .
            </span>
            <br>
            <span>
              <i class="fa fa-check-circle" style="color: green;" *ngIf="form.controls.cnfpass.valid"></i>
              <i class="fa fa-times-circle" style="color: red;" *ngIf="form.controls.cnfpass.invalid" ></i>
              Password and Confirm Password must be same.
            </span>
        </div>

        </form>

      </div>
    </div>

  </div>

 </div>

</div>